body{
    padding: 0;
    margin: 0;
    background-color: #1c1b2c ;
    background-size: 100vw 100vh;
    background-attachment: fixed;
    margin: 0;
    font-family: monospace;
}

#consul {
    width: 480px;
    margin: auto;
    background: #8D8F9A;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 10px;
    border: solid 1px white; 
}

h2 {
    color: white;
    text-align: center;
    margin:0;
    font-size: 30px;
    margin-bottom: 20px;

}

input, textarea{
    width: 100%;
    margin-bottom: 15px;
    padding:7px;
    box-sizing: border-box;
    font-size: 17px;
}


textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
    min-width: 100%;
}


#boton{
    background-color: #31384a;
    color: #ffff;
    padding: 20px;
}
#boton:hover{
    cursor: pointer;
}


@media (max-width:480px) {
    form{
        width: 100%;
    }
}
#foto{
    height: 325px;
    margin-top: 0px;
    display: flex;
    justify-content: center;
}


nav{
    background-color:#fff;
    border-radius: 5px;
}
.btn:hover{}

.btn{
    
}
.logo{

    margin-left:55%;
}



.aviso{
    color: white;
    background-color:rgba(46, 71, 117, 0.8);
    margin-top: 20px;
    border: solid 2px rgba(97, 132, 197, 0.3);
    width:max-content;
    padding: 10px;
    text-align: center;
    margin-left:auto;
    margin-right: auto;
}

