body{
    background-image:url(../assets/gastosFondo.png);

}
#cont{
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.09);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(16.2px);
    -webkit-backdrop-filter: blur(16.2px);
    margin-top: 15px;
    margin-bottom: 15px;
}
#nomColor{
    color: rgb(255, 133, 46);
}

#gasColor{
    color: rgb(255, 133, 46);
}
#color{
    background-color: rgb(255, 133, 46);
    color:white;
}
#gastoUnitario{
    color: rgb(255, 133, 46);
}


#lista{
    color:  rgb(255, 133, 46);
}

#gastoTotal{
    color:  rgb(255, 133, 46);
}