body
{
    background-image: url(../assets/fondo.png);
    background-color:#163a75d8 ;
    color: white;
    font-size: 13.5px;
}



#inicio{
    margin: 5%;
}

#cuentas{
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.09);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(16.2px);
    -webkit-backdrop-filter: blur(16.2px);
    margin-top: 15px;
    margin-bottom: 15px;
}


#footer{
    margin: 40px;
}

.services{
    border-radius: 25px;
    padding: 40px;
    height: 100px;
    background: rgba(255, 255, 255, 0.09);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(16.2px);
    -webkit-backdrop-filter: blur(16.2px);
    margin: 15px;
    margin-left: 20px;
} 

.services-sec{
    margin: 10px;
}

.cuentaRow{
    margin: 30px;
    margin-top: 40px;
    color: rgb(255, 133, 46);
}

.cuentaPrecioRow{
    margin:5px;
    margin-left: 30px;
}

.cuentasTitle{
    font-size: 50px;
    font-weight: bold;
}

.pCuentas{
    font-size: 35px;
}

.search{
    width: 50%;
    
}

.dropdownMenu{
    color: black!important;
    width: 50%;
}

.dropdownUser{
    width: 50%;
    color: black!important;
}
a{
    color:white;
    text-decoration:none;
}